*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 20px;
}
#logo-header{
    width: 200px;
    margin-right: 700px;
}
ul{
    border: 2px solid gold;
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
}
.header ul li{
    display: inline-block;
    font-size: 15px;
    margin-left: 600 px;
    font-weight: 600;
    margin: 10px;
}
#barra-lista{
    margin: 5px;
}
.card-blue{
    padding-left: 0;
    padding-right: 0 ;
    height: 350px;
    background-color: #1d75de;
    display: block;
    text-align: left;
}
.card-white{
    padding-left: 0;
    padding-right: 0 ;
    height: 450px;
    background-color: #ffff;
}
.card-gray{
    padding-left: 0;
    padding-right: 0 ;
    height: 450px;
    background-color: #efefef;
}
.footer{
    padding-left: 0;
    padding-right: 0 ;
    height: 450px;
    background-color: black;
}